<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/icons/cineweb.png" alt="Bootstrap" width="80" height="34">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="main">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">Buscar película</a>
        </li>
        
        <li  *ngIf="auth.userToken" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menú Administrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Administrar peliçulas</a></li>
            <li><a class="dropdown-item" href="#">Administrar usuarios</a></li>
            <li><a class="dropdown-item" href="#">Administrar cines</a></li>
          </ul>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a  *ngIf="!auth.userToken" (click)="auth.login()" class="nav-link" routerLink="login">Iniciar sesión</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a   *ngIf="auth.userToken" (click)="auth.loguot()" class="nav-link" routerLink="main">Salir</a>
        </li>
       
      </ul>
   
    </div>
  </div>
</nav>